@import url('https://fonts.googleapis.com/css2?family=Popppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url('./img/header-bg.png');
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}
body , html{
    overflow-x: hidden ;
    
}
a{
    text-decoration: none;
}
.header-content{
    margin-bottom: 150px ;
    color: whitesmoke;
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn{
    padding: 8px 15px;
    background: red;
    border-radius:30px ;
    color: whitesmoke;
}
.line{
    width: 150px;
    height: 4px;
    background: red;
    margin:10px auto   ;
    border-radius: 5px;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}
.nav-links{
    display: flex;
    align-items: center;
    
}
.nav-links li{
    margin: 0 30px;
}
ul{
    list-style: none;
}
.active{
    color: red;
    text-decoration: underline;
    font-weight: bold;
     
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px; 
    cursor: pointer;
    display: none;
}
section{
    width: 80%;
    margin: 80px auto;

}
.title{
    text-align: center;
    font-size: 4vmin;
    color: rgb(118, 118, 139);
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.row .col img{
    max-width: 400px;
}
.events .row{
    margin-top: 50px;
}
h4{
    font-size: 3vmin;
    color: rgb(64, 66, 69);
    margin: 20px auto;
}
p{
     color: cadetblue;
     padding: 0px 40px;
    }
    .events .ctn{
    margin-top: 30px;
}
.explore{
    width: 100%;
    height: 100vh;
    background-image: url('./img/bg2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}
.explore-content{
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.explore-content h1{
    font-size: 7vmin;
}
.explore-content.line{
    margin-bottom: 50px;
}
.explore-content .ctn{
    margin-top: 40px;
}
.explore-content p{
    color: white;
}
.content-col{
    width: 40%;
}
.image-col{
    width: 60%;
}
.tours .image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.image-gallery img{
    max-width: 250px;
    margin: 10px;
}
.content-col h1{
    font-size: 7vmin;
    color: rgb(69, 62, 62);
}
.content-col .line{
    margin-left: -1px;
}
.content-col p{
    
    margin: 30px auto;
}
.content-col .ctn{
    margin-left: -100px;
}
/* Mobile device*/
@media only screen and (max-width:850px){
    .menu-btn{
        display: block;
    }
    .nav-bar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }

.nav-links{
    flex-direction: column; 
    width: 100%;
    height: 100vh;
    justify-content: center;
    background:#c0b7a6;
    margin-top: -900px;
    transition: all 0.5s ease;
}
.mobile-menu{
    margin-top: 0px; 
    border-bottom-right-radius: 30%;
}
.nav-links li{
    margin: 30px auto;
}
.row{
    flex-direction: column;
}
.row .col{
    margin: 20px auto;;
}
.col img{
    max-width: 90%;
}
.explore-content{
    width: 100%;
}
.tours .col{
    width: 100%;
}
.image-gallery{
    justify-content: center;
    align-items: center;
}
.image-gallery img{
    width: 90%;
}
}

img{
    transition: transform .3s ease;
}
img:hover{
    transform: scale(1.1);
}
.ctn:hover{
    background-color: whitesmoke;
    color: red;
    box-shadow: 2px 2px 5px rgb(64, 61, 61);
}
li:hover{
    color: red;
    cursor: pointer;
}